@font-face {
  font-family: "iconfont"; /* Project id 3483872 */
  src: url('iconfont.woff2?t=1656064016214') format('woff2'),
       url('iconfont.woff?t=1656064016214') format('woff'),
       url('iconfont.ttf?t=1656064016214') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fenxiang:before {
  content: "\e600";
}

.icon-piano:before {
  content: "\e847";
}

.icon-search_light:before {
  content: "\e7da";
}

.icon-album:before {
  content: "\e714";
}

.icon-search:before {
  content: "\e64e";
}

.icon-dashboard:before {
  content: "\e715";
}

.icon-search1:before {
  content: "\e7b3";
}

.icon-music:before {
  content: "\e892";
}

.icon-user:before {
  content: "\e6b2";
}

.icon-line-quillpenyumaobi:before {
  content: "\e6eb";
}

