<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.lune.mapper.AlbumMapper">
    <resultMap id="BaseResultMap" type="com.example.lune.domain.Album">
        <id property="albumId" jdbcType="INTEGER" column="album_id"/>
        <result property="albumName" jdbcType="VARCHAR" column="album_name"/>
        <result property="albumPic" jdbcType="VARCHAR" column="album_pic"/>
        <result property="albumReleaseTime" jdbcType="TIMESTAMP" column="album_release_time"/>
        <result property="albumRecordLabel" jdbcType="VARCHAR" column="album_record_label"/>
    </resultMap>
    <sql id="elements">
        (album_name,album_pic,album_release_time,album_record_label)
    </sql>
    <insert id="insert" parameterType="com.example.lune.domain.Album">
        insert into album
        <include refid="elements"/>
        values (#{albumName},#{albumPic},#{albumReleaseTime},#{albumRecordLabel})
    </insert>
    <insert id="insertSelective" parameterType="com.example.lune.domain.Album">
        insert into album
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="albumName != null">
                album_name,
            </if>
            <if test="albumPic != null">
                album_pic,
            </if>
            <if test="albumReleaseTime">
                album_release_time,
            </if>
            <if test="albumRecordLabel">
                album_record_label,
            </if>
        </trim>
        <trim prefix="values(" suffix=")" suffixOverrides=",">
            <if test="albumName != null">
                #{albumName},
            </if>
            <if test="albumPic != null">
                #{albumPic},
            </if>
            <if test="albumReleaseTime">
                #{albumReleaseTime},
            </if>
            <if test="albumRecordLabel">
                #{albumRecordLabel},
            </if>
        </trim>
    </insert>
    <select id="albumOfId" resultMap="BaseResultMap">
        select * from album
        where album_id = #{albumId}
    </select>
    <select id="albumOfName" resultMap="BaseResultMap">
        select * from album
        where album_name = #{albumName}
    </select>
    <select id="albumOfLabel" resultMap="BaseResultMap">
        select * from album
        where album_record_label = #{albumRecordLabel}
    </select>
    <select id="allAlbum" resultMap="BaseResultMap">
        select * from album
    </select>
    <update id="update" parameterType="com.example.lune.domain.Album">
        update album
        <set>
            <if test="albumName != null">
                album_name = #{albumName},
            </if>
            <if test="albumPic != null">
                album_pic = #{albumPic},
            </if>
            <if test="albumReleaseTime">
                album_release_time = #{albumReleaseTime},
            </if>
            <if test="albumRecordLabel != null">
                album_record_label = #{albumRecordLabel},
            </if>
        </set>
            WHERE album_id = #{albumId}
    </update>
    <delete id="deleteById">
        delete from album
        where album_id = #{albumId}
    </delete>
</mapper>
